.projetos {
    background-color: var(--corProjetos);
    height: 500px;
    padding: 4rem 3rem;
}
.projetos__titulo {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-family: var(--montserrat);
    font-weight: 300;
    border-top: 3px solid white;
    display: inline-block;
}
.projetos__main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.projetos__container {
    width: 750px;
    height: 370px;
    box-shadow: 3px 3px 9px black;
}
.projetos__lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    column-gap: 1rem;
    background-color: var(--corSetor);
    width: 100%;
    height: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}
.projetos__item {
    background-color: var(--corImagem);
    width: 200px;
    height: 150px;
    margin: 10px;
    transition: all .6s;
    border: 3px solid rgba(0, 0, 0, 0.582);
}
.projetos__item:hover {
    transition: all .6s;
    transform: scale(1.05);
}


@media screen and (max-width: 1200px) {
    .projetos {
        height: auto;
    }
    .projetos__main {
        flex-flow: column nowrap;
    }
    .projetos__container {
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 780px) {
    .projetos__container {
        height: 600px;
        width: 90%;
    }
    .projetos__lista {
        flex-flow: column wrap;
    }
}
@media screen and (max-width: 630px) {
    .projetos__container {
        height: 600px;
        width: 100%;
    }
    .projetos__lista {
        row-gap: 2rem;
    }
}
@media screen and (max-width: 578px) {
    .projetos__container {
        width: 300px;
        height: auto;
    }
    .projetos__lista {
        row-gap: 0;
    }
    .projetos__titulo {
        font-size: 3rem;
    }
}